.windsong-regular {
  font-family: "WindSong", cursive;
  font-weight: 400;
  font-style: normal;
}

.windsong-medium {
  font-family: "WindSong", cursive;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Theater_Brillion";
  src: url("Theater_Brillion.otf") format("truetype");
}


h1 {
 position: relative;
 margin: 20px 0;
 text-align: center;
 font-family: Theater_Brillion;
 font-weight: normal;
 font-size: 80px;
 text-shadow: 0 0 20px yellow;
}

.kalender-box {
      display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-items: flex-start;
}

.monat-header {
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: Theater_Brillion;
    margin-left: 20px;
    font-size: xx-large;
    width: 1200px;
    flex: 1;
    text-align: center;
    flex-shrink: 0;
}

#monatTitel {
  width: 250px;
  text-shadow: 0 0 20px yellow;
}
.auto {
    position: absolute;
    right: -15%;
    top: 15%;
    transform: translateY(-50%);
    opacity: 0.4;
    width: 1700px;
    transform: scale(1.05);
    height: auto;
    filter: drop-shadow(0 10px 20px rgba(0,0,0,0.5));
}

body {
  background-color: black;
  color: #e2e8f0;
  position: relative;
  overflow: hidden;
  text-align: left;
  margin: 40px 60px;
  padding: 15px;
  size: 600px;
  z-index: 1;
  line-height: 1.2;
  letter-spacing: -0.2px;
}

    table { 
        color: rgb(230, 230, 230);
        background-color: rgba(160, 13, 13, 0.308);
        text-align: center;
        border: 2px rgb(201, 30, 30);
        margin: 5px; 
        border-collapse: collapse;
        width: 400px;
        height: 200px;
        text-align: center;
        border: 3px solid rgb(238, 215, 7);
        border-radius: 15px;
        overflow: visible;
        opacity: 0.7;
    }
         td, th {
             border: 1px solid black
        }
            ul {
                list-style: none;
                margin: 60px;
            }
            
                li::before {
                content: "•";
                color: rgba(247, 1, 51, 0.445);    
                margin-right: 15px;
                }

        tbody {
                border-spacing: 10px;
                height: 2px;
                background-color: #a8a5a1b4;
                margin: 20px 0;
                width: 100%;
                font-weight: normal; 
                font-family: Theater_Brillion;
            }
          .sonntag {
              color: red;
              font-weight: bold;
          }
td {
    position: relative;
}
.wochenende {
  background: #462828;
  opacity: 0,5;
}

.feiertag {
    background: #f8abab;
    position: relative;
    font-weight: bold;
}
      td.feiertag:hover::before {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        border-width: 6px;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0.85) transparent transparent transparent;
    }

td.feiertag {
    position: relative;
}

td.feiertag:hover::after {
    content: attr(data-tooltip);

    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);

    background: rgba(0, 0, 0, 0.9);
    color: white;

    padding: 8px 12px; 
    border-radius: 6px;

    font-size: 12px;

    white-space: nowrap; 
    min-width: max-content; 

    z-index: 9999;

    pointer-events: none;
}

    .nav {
      background: none;
      border: none;
      cursor: pointer;
    }
    .nav img {
      width: 40px;
      height: 40px;
    }
    .nav {
        background: none;
      border: none;
      cursor: pointer;
    }
    .nav img {
      width: 40px;
      height: 40px;
    }
    #prevBtn img {
        transform: scaleY(-1);
        transform: rotate(-60deg);
        flex-shrink: 0;
    }
    #nextBtn img {
        transform: rotate(130deg);
        flex-shrink: 0;
    }

.heute {                                   
    background-color: rgba(24, 23, 23, 0.692);
    border-radius: 50%;
    color: rgb(226, 212, 19);
}


td:hover {
    background-color: rgba(122, 27, 27, 0.774);
    cursor: pointer;
    transform: scale(1.1);
}


#heuteBtn {   
    background-color: rgb(34, 33, 33);
    border: 3px, solid rgb(48, 46, 46);
    border-style: double; 
    color: rgb(255, 255, 255);
    margin: 0px 160px;
    font-family: "Theater_Brillion";
    font-size: x-large;
}

li {
    margin: 0;
    padding: 2px 0;
    line-height: 1.2;
    font-size: small;
}
