.windsong-regular {
  font-family: "WindSong", cursive;
  font-weight: 400;
  font-style: normal;
}

.windsong-medium {
  font-family: "WindSong", cursive;
  font-weight: 500;
  font-style: normal;
}

.auto {
    position: absolute;
    right: -15%;
    top: 15%;
    transform: translateY(-50%);
    opacity: 0.5;
    width: 1700px;
    transform: scale(1.05);
    height: auto;

    filter: drop-shadow(0 10px 20px rgba(0,0,0,0.5));
}

body {
  background-color: black;
  color: #e2e8f0;
  position: relative;
  overflow: hidden;
  text-align: left;
  margin: 40px 60px;
  padding: 15px;
  size: 600px;
  z-index: 1;
  line-height: 1.2;
  letter-spacing: -0.2px;
}
    table { 
        color: rgb(230, 230, 230);
        background-color: rgba(160, 13, 13, 0.308);
        text-align: center;
        border: 2px rgba(0, 0, 0, 0.116);
        margin: 30px; 
        border-collapse: collapse;
        width: 250px;
        text-align: center;
        border: 3px solid black;
        border-radius: 15px;
        overflow: hidden;
        left: 20%;
        opacity: 0.7;
    }
         td, th {
             border: 1px solid black
        }
            ul {
                list-style: none;
                margin: 60px;
            }
            
                li::before {
                content: "•";
                color: rgba(247, 1, 51, 0.445);    
                margin-right: 15px;
                }

        tbody {
                height: 2px;
                background-color: #948d8298;
                margin: 20px 0;
                width: 100%;
                font-weight: normal;
            }

.monat-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-family: windsong;
}
.nav {
  background: none;
  border: none;
  cursor: pointer;
}

.nav img {
  width: 40px;
  height: 40px;
}

.nav {
    background: none;
  border: none;
  cursor: pointer;
}

.nav img {
  width: 40px;
  height: 40px;
}
#prevBtn img {
    transform: scaleX(-1);
}



.heute {                                   
    background-color: rgb(63, 3, 3);
    border-radius: 50%;
    color: white;
}


td:hover {
    background-color: rgba(122, 27, 27, 0.774);
    cursor: pointer;
    transform: scale(1.1);
}


button {   
    background: none;
    border: 1px, solid black;
    border-style: double;

    font-family: windsong; 
    color: lightpink;
    
}

li {
    margin: 0;
    padding: 2px 0;
    line-height: 1.2;
    font-size: small;
}